include ./layout
block content
	div.jumbotron
		div.container
			div.row
				h1= film.name
				p See the reviews for the film #{film.name}
	div.container
		div.row
			div.col-md-4
			div.col-md-4
				if film.poster
					div
						img(src="#{film.poster}") 
				b
					| Released in:
				| #{film.year}
				p
				b
					| Starring: 
				| #{film.actors}
				p
				b
					| Genres: 
				| #{film.genres}
				p
				b
					|	Runtime: 
				| #{film.runtime}
				h1
					strong
						| Existing Reviews
				div.container#reviews
				h1
					strong
						| Save Review
				form#saveReview
					div.form-group
						label(for="review")
							| Review:
						textarea(class="form-control" rows="3" id="review")
					div.form-group
						label(for="stars")
							| Stars (0-5):
						input(class="form-control" id="stars" min="0" max="5")
					div.form-group
						button.btn.btn-default#save(type="submit")
							| save new
			div.col-md-4
include ./footer
script
	| refresh();